@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

.fa-arrow-down,
.link:hover {
  text-shadow: rgb(212, 212, 212) 0px 0px 10px;
}
.wave {
  animation-name: wave-animation ;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg);}
  10% { transform: rotate(20deg);}
  20% { transform: rotate(-10deg);}
  30% { transform: rotate(20deg);}
  40% { transform: rotate(-10deg);}
  50% { transform: rotate(20deg);}
  60% { transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}

hr {
  opacity: 0.2;
}

.project-transform {

}
.project.transform.title{
  animation: project-moveup 1s ease-out forwards 0.2s;
}



.project.transform.info{
  animation: project-moveup 1s ease-out forwards 0.3s;

}

@keyframes project-moveup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contact-icons > *:hover{
  filter: drop-shadow(rgb(212, 212, 212) 0px 0px 10px);
}